.field {
  position: relative;
}

.error {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: #3a1919;
}

.avatarPreview {
  position: absolute;
  top: 50%;
  right: 70px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  transform: translateY(-50%);
}
